:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --color-footer: #2f303a;
  --accent-text-color: #000000;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --color-section: #f5f4fa;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* ==========HEADER========= */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

/*=================site navigation==============*/

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 94px;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 50px;
}
.connection-list {
  display: flex;
  margin-left: auto;
}

.navigation-link {
  display: block;

  color: var(---background-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}

.navigation .link.current {
  color: var(--accent-color);
}

/* connection */

.connection-list .connection-item + .connection-item {
  margin-left: 50px;
}

.connection-link {
  display: block;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connection-link:hover,
.connection-link:focus {
  color: var(--accent-color);
}

/*===================hero========================*/

.hero {
  background-color: var(--primary-text-color);
  padding: 200px 252px;
  text-align: center;
  margin-bottom: 94px;
}

.hero-title {
  display: block;
  margin: auto;
  color: var(--background-color);
  margin-bottom: 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*===================button========================*/

.button {
  display: block;
  margin: auto;
  font-family: inherit;
  border-radius: 4px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  text-align: center;
}

/*=========================section=================================*/

.advantage-list {
  display: flex;
  margin-bottom: 94px;
}

.advantage-list .advantage-item + .advantage-item {
  margin-left: 30px;
}

.advantage-item {
  width: 270px;
}

.advantage-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-par {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*=========================occupation==============================*/

.occupation-list {
  display: flex;
  margin-bottom: 94px;
}
.occupation-list .occupation-item + .occupation-item {
  margin-left: 30px;
}

.occuation-title {
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

/*==========================team==============================*/

.team {
  background-color: var(--color-section);

  margin-bottom: 94px;
}

.team-list {
  display: flex;

  align-items: center;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.team-element {
  padding-top: 30px;
  padding-bottom: 30px;

  border: 1px solid silver;
  border-radius: 0px 0px 9px 9px;
  background-color: var(--background-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-par {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*================================footer=========================*/

.footer {
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logotyp-footer {
  color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.connection-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.connection-footer:hover,
.connection-footer:focus {
  color: var(--accent-color);
}

.maps {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.71;
}
.maps:hover,
.maps:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.address-item {
  font-size: 14px;
  line-height: 1.71;

  padding-bottom: 9px;
}

.address-list {
  margin-top: 20px;
}

/*======================================================PORTFOLIO==================================*/

/*===================buttons===============*/

.buttons-list {
  display: flex;

  background-color: yellow;
}

.buttons-list .button-item + .button-item {
  margin-left: 8px;
}

.button-choice {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  cursor: pointer;
}

.button-choice:hover,
.button-choice:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/*================menu====================*/

.menu-link {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.menu-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

.menu-title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
